<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourEvent</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <header class="header">

        <a href="#" class="logo"><span>Your</span>Event</a>

        <nav class="navbar">
            <a href="#home">YOUREVENT</a>
            <a href="#form">únete Aquí!</a>
            <a href="#gallery">Eventos</a>
            <a href="#price">precios</a>
            <a href="#review">vistas</a>
            <a href="#contact">contacto</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>Es hora de crear <span> Tu mejor experiencia </span></h3>
            <a href="#" class="btn">contactanos</a>
        </div>


        



        <div class="swiper-container home-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                        src="https://res.cloudinary.com/tuseventos/image/upload/v1664152091/yourevent/slide-1_gjcttg.jpg"
                        alt="">
                </div>
                <div class="swiper-slide"><img
                        src="https://res.cloudinary.com/tuseventos/image/upload/v1664152092/yourevent/slide-2_ukyfpq.jpg"
                        alt="">
                </div>
                <div class="swiper-slide"><img
                        src="https://res.cloudinary.com/tuseventos/image/upload/v1664152091/yourevent/slide-3_rdx25s.jpg"
                        alt="">
                </div>
                <div class="swiper-slide"><img
                        src="https://res.cloudinary.com/tuseventos/image/upload/v1664152091/yourevent/slide-4_cooh5l.jpg"
                        alt="">
                </div>
                <div class="swiper-slide"><img
                        src="https://res.cloudinary.com/tuseventos/image/upload/v1664152092/yourevent/slide-5_etvo6e.jpg"
                        alt="">
                </div>
                <div class="swiper-slide"><img
                        src="https://res.cloudinary.com/tuseventos/image/upload/v1664152092/yourevent/slide-6_mqjhjr.jpg"
                        alt="">
                </div>
            </div>
        </div>

    </section>

    <!-- home section ends -->

    <!-- service section starts  -->

    <section class="service" id="service">

        <h1 class="heading"> Otros <span>servicios</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>venue selection</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <h3>invitation card</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-music"></i>
                <h3>entertainment</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-photo-video"></i>
                <h3>photos and videos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

        </div>

    </section>

    <!-- service section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"><span>Que</span> esperas se parte de la familia! </h1>

        <div class="row">

            <link rel="stylesheet" href="/css/style.css">
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
            <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
            <link rel="stylesheet" href="./css/estilo.css">

            <div class="image">

                    <a href="https://front.codes/" class="logo" target="_blank">

                    </a>

                    <div class="section" id="form">
                        <div class="container">
                            <div class="row full-height justify-content-center">
                                <div class="col-12 text-center align-self-center py-5">
                                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                                        <h6 class="mb-0 pb-3"><span>Iniciar Sesión </span><span>Registrarse </span></h6>
                                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                                        <label for="reg-log"></label>
                                        <div class="card-3d-wrap mx-auto">
                                            <div class="card-3d-wrapper">
                                                <div class="card-front">
                                                    <div class="center-wrap">
                                                        <div class="section text-center">
                                                            <h4 class="mb-4 pb-3">Iniciar sesión</h4>
                                                            <div class="form-group">
                                                                <form action="/login" method="post">
                                                                    <input type="email" name="correo" class="form-style"
                                                                        placeholder="Your Email" id="logemail"
                                                                        autocomplete="off">
                                                                    <i class="input-icon uil uil-at"></i>
                                                            </div>
                                                            <div class="form-group mt-2">
                                                                <input type="password" name="password"
                                                                    class="form-style" placeholder="Your Password"
                                                                    id="logpass" autocomplete="off">
                                                                <i class="input-icon uil uil-lock-alt"></i>
                                                            </div>
                                                            <button class="btn mt-4">Enviar</button>
                                                            </form>
                                                            <p class="mb-0 mt-4 text-center"><a href="#0"
                                                                    class="link">Olvidó su contraseña?</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-back">
                                                    <div class="center-wrap">
                                                        <div class="section text-center">
                                                            <h4 class="mb-4 pb-3">  Registrarse</h4>
                                                            <div class="form-group">
                                                                <!-- FORM REGISTER! -->
                                                                <form action="/registro" method="post">
                                                                    <input type="text" name="usuario" class="form-style"
                                                                        placeholder="Your Full Name" id="logname"
                                                                        autocomplete="off">
                                                                    <i class="input-icon uil uil-user"></i>
                                                            </div>
                                                            <div class="form-group mt-2">
                                                                <input type="email" name="correo" class="form-style"
                                                                    placeholder="Your Email" id="logemail"
                                                                    autocomplete="off">
                                                                <i class="input-icon uil uil-at"></i>
                                                            </div>
                                                            <div class="form-group mt-2">
                                                                <input type="password" name="password"
                                                                    class="form-style" placeholder="Your Password"
                                                                    id="logpass" autocomplete="off">
                                                                <i class="input-icon uil uil-lock-alt"></i>
                                                            </div>
                                                            <button class="btn mt-4">Enviar</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </body>

</html>

</div>

<div class="content">
    <h3>Transforma tu manera de ver las cosas empieza hoy mismo</h3>
    <p>crea una cuenta ya y conoce lo que puedes hacer tu mismo libera tu potencial emprendedor y Animate tu puedes
        crecer de la manos de nosotros juntos tendremos la capacidad inovar en tus creaciones y propuestas </p>
    <p>descubre mas opciones exclusivas que solo tenemos para ti.</p>
    <a href="#" class="btn">contactanos</a>
</div>

</div>

</section>

<!-- about section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading"> Todos los <span> Eventos </span></h1>

    <div class="box-container">

        <% rows.forEach(usuarios=> { %>
            <div class="box">
                <img src="<%= usuarios.imagenUser  %> " alt="">
                <h3 class="title"> <%= usuarios.nombre_evento %> </h3>
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
            </div>
            <% }); %>
    </div>

</section>

<!-- gallery section ends -->

<!-- price section starts  -->

<section class="price" id="price">

    <h1 class="heading"> Conoce Nuestros <span> Precios </span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">Para Bodas</h3>
            <h3 class="amount">$450.99</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title"> Conciertos </h3>
            <h3 class="amount">$650.99</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">Cosas Varias</h3>
            <h3 class="amount">$850.99</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

    </div>


</section>

<!-- price section ends -->

<!-- review section starts  -->

<section class="reivew" id="review">

    <h1 class="heading">Mira lo que opinan de <span> Nosotros </span></h1>

    <div class="review-slider swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/pic-1.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor dicta cum. Eos beatae
                    eligendi, magni numquam nemo sed ut corrupti, ipsam iure nisi unde et assumenda perspiciatis
                    voluptatibus nihil.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/pic-2.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor dicta cum. Eos beatae
                    eligendi, magni numquam nemo sed ut corrupti, ipsam iure nisi unde et assumenda perspiciatis
                    voluptatibus nihil.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/pic-3.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor dicta cum. Eos beatae
                    eligendi, magni numquam nemo sed ut corrupti, ipsam iure nisi unde et assumenda perspiciatis
                    voluptatibus nihil.</p>
            </div>

            <div class="swiper-slide box">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/pic-4.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor dicta cum. Eos beatae
                    eligendi, magni numquam nemo sed ut corrupti, ipsam iure nisi unde et assumenda perspiciatis
                    voluptatibus nihil.</p>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span>anos</h1>

    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>
        <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>

</section>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Alcanze</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Armenia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Calarca </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Pereira </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Circasia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Salento </a>
        </div>

        <div class="box">
            <h3>YourEvent</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> service </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> gallery </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> price </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reivew </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contactanos</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> YourEvent@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> YourEvent01@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> SENA COMERCIO Y TURISMO </a>
        </div>

        <div class="box">
            <h3>Siguenos</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by <span>YourEvent</span> | all rights reserved </div>

</section>

<!-- footer section ends -->

<!-- theme toggler  -->

<div class="theme-toggler">

    <div class="toggle-btn">
        <i class="fas fa-cog"></i>
    </div>

    <h3>choose color</h3>

    <div class="buttons">
        <div class="theme-btn" style="background: #3867d6;"></div>
        <div class="theme-btn" style="background: #f7b731;"></div>
        <div class="theme-btn" style="background: #ff0033;"></div>
        <div class="theme-btn" style="background: #20bf6b;"></div>
        <div class="theme-btn" style="background: #fa8231;"></div>
        <div class="theme-btn" style="background: #FC427B;"></div>
    </div>

</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    let menu = document.querySelector('#menu-bars');
    let navbar = document.querySelector('.navbar');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');
    }

    let themeToggler = document.querySelector('.theme-toggler');
    let toggleBtn = document.querySelector('.toggle-btn');

    toggleBtn.onclick = () => {
        themeToggler.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbar.classList.remove('active');
        themeToggler.classList.remove('active');
    }

    document.querySelectorAll('.theme-toggler .theme-btn').forEach(btn => {

        btn.onclick = () => {
            let color = btn.style.background;
            document.querySelector(':root').style.setProperty('--main-color', color);
        }

    });

    var swiper = new Swiper(".home-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 2,
            slideShadows: true,
        },
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        }
    });

    var swiper = new Swiper(".review-slider", {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        spaceBetween: 10,
        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            700: {
                slidesPerView: 2,
            },
            1050: {
                slidesPerView: 3,
            },
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        }
    });
</script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>

</html>