<%- include('template/header') %>

  <!-- component -->
  <script src="//unpkg.com/alpinejs" defer></script>

  <!-- component -->
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12 ">
    <div class="text-center pb-12">

      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
        Eventos Destacados
      </h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center efcCard">
        <div class="mb-8 ">
          <img class="object-center object-cover rounded-full h-36 w-36"
            src="https://res.cloudinary.com/tuseventos/image/upload/v1661775545/yourevent/img9_iehotr.png" alt="photo">
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Concierto Feid</p>
          <p class="text-base text-gray-400 font-normal">Musica Urbana</p>
        </div>
      </div>



      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center efcCard">
        <div class="mb-8">
          <img class="object-center object-cover rounded-full h-36 w-36"
            src="https://res.cloudinary.com/tuseventos/image/upload/v1661775545/yourevent/img1_r28gx8.jpg" alt="photo">
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Color Fest</p>
          <p class="text-base text-gray-400 font-normal">Colores y Fiesta</p>
        </div>
      </div>
      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center efcCard">
        <div class="mb-8">
          <img class="object-center object-cover rounded-full h-36 w-36"
            src="https://res.cloudinary.com/tuseventos/image/upload/v1661775545/yourevent/img4_hqhcl0.jpg" alt="photo">
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Evento Culinario</p>
          <p class="text-base text-gray-400 font-normal">Comidas Tipicas</p>
        </div>
      </div>

      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center efcCard">
        <div class="mb-8">
          <img class="object-center object-cover rounded-full h-36 w-36"
            src="https://res.cloudinary.com/tuseventos/image/upload/v1661775545/yourevent/img7_vprver.jpg" alt="photo">
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Evento Culinario</p>
          <p class="text-base text-gray-400 font-normal">Comidas Tipicas</p>
        </div>
      </div>

      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center efcCard">
        <div class="mb-8">
          <img class="object-center object-cover rounded-full h-36 w-36"
            src="https://res.cloudinary.com/tuseventos/image/upload/v1661775545/yourevent/img8_ajshdq.jpg" alt="photo">
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Evento Culinario</p>
          <p class="text-base text-gray-400 font-normal">Comidas Tipicas</p>
        </div>
      </div>

      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center efcCard">
        <div class="mb-8">
          <img class="object-center object-cover rounded-full h-36 w-36"
            src="https://res.cloudinary.com/tuseventos/image/upload/v1661775545/yourevent/img5_b9ttnn.jpg" alt="photo">
        </div>
        <div class="text-center">
          <p class="text-xl text-gray-700 font-bold mb-2">Evento Culinario</p>
          <p class="text-base text-gray-400 font-normal">Comidas Tipicas</p>
        </div>
      </div>
    </div>
  </section>



  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>


  <%- include('template/footer.ejs') %>