<%- include('template/header.ejs') %>


    <form action="/yourevent/myEventsCreate" method="post" enctype="multipart/form-data">

        <div class="card-front">
            <div class="center-wrap">
                <div class="section text-center">
                    <h4 class="mb-4 pb-3">Crea tu evento</h4>
                    <form action="/yourevent/myEventsCreate" method="post" enctype="multipart/form-data" >

                        <div class="form-group">
                            <input type="text" name="nombre_evento" class="form-style" placeholder="Nombre del evento" id="logemail"
                                autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <input  type="text" name="lugar_evento" class="form-style" placeholder="Lugar del evento"
                                id="logpass" autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <input type="date" name="fecha_evento" class="form-style" placeholder="Fecha de evento"
                                id="logpass" autocomplete="off">
                        </div>
                        
                        <div class="form-group mt-2">
                            <input type="time" name="hora_evento" class="form-style" placeholder="Hora del evento"
                                id="logpass" autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <input type="file" name="image" class="form-style" placeholder="Ingresa una imagen"
                                id="logpass" autocomplete="off" required>
                        </div>

                        <button class="btn mt-4">Crear!</button>
                    </form>
                </div>
            </div>
        </div>

    </form>

    <style>
        input{
            text-align: center;
        }
    </style>

    <%- include('template/footer.ejs') %>