<%- include("./template/header") %>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>Es hora de crear <span> Tu mejor experiencia </span></h3>
            <a href="/yourevent/CreateEvents" class="btn">Crear Evento!</a>
        </div>

        <div class="swiper-container home-slider">
            <div class="swiper-wrapper">



            </div>
        </div>

    </section>
    <!-- about section starts  -->


    <!-- about section ends -->

    <!-- gallery section starts  -->

    <section class="gallery" id="gallery">

        <h1 class="heading"> Todos los <span> Eventos </span></h1>

        <div class="box-container">

            <% rows.forEach(usuarios=> { %>
                <div class="box">
                    <img src="<%= usuarios.imagenUser  %> " alt="">
                    <h3 class="title"> <%= usuarios.nombre_evento %>  </h3>
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-share"></a>
                        <a href="#" class="fas fa-eye"></a>
                    </div>
                </div>
                <% }); %>
        </div>

    </section>

    <section class="service" id="service">

        <h1 class="heading"> Otros <span>servicios</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>venue selection</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <h3>invitation card</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-music"></i>
                <h3>entertainment</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>food and drinks</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

            <div class="box">
                <i class="fas fa-photo-video"></i>
                <h3>photos and videos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, suscipit.</p>
            </div>

        </div>

    </section>

    <section class="price" id="price">

        <h1 class="heading"> Conoce Nuestros <span> Precios </span> </h1>
    
        <div class="box-container">
    
            <div class="box">
                <h3 class="title">Para Bodas</h3>
                <h3 class="amount">$450.99</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li> <i class="fas fa-check"></i> decorations </li>
                    <li> <i class="fas fa-check"></i> music and photos </li>
                    <li> <i class="fas fa-check"></i> food and drinks </li>
                    <li> <i class="fas fa-check"></i> invitation card </li>
                </ul>
                <a href="#" class="btn">check out</a>
            </div>
    
            <div class="box">
                <h3 class="title"> Conciertos </h3>
                <h3 class="amount">$650.99</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li> <i class="fas fa-check"></i> decorations </li>
                    <li> <i class="fas fa-check"></i> music and photos </li>
                    <li> <i class="fas fa-check"></i> food and drinks </li>
                    <li> <i class="fas fa-check"></i> invitation card </li>
                </ul>
                <a href="#" class="btn">check out</a>
            </div>
    
            <div class="box">
                <h3 class="title">Cosas Varias</h3>
                <h3 class="amount">$850.99</h3>
                <ul>
                    <li><i class="fas fa-check"></i>full services</li>
                    <li> <i class="fas fa-check"></i> decorations </li>
                    <li> <i class="fas fa-check"></i> music and photos </li>
                    <li> <i class="fas fa-check"></i> food and drinks </li>
                    <li> <i class="fas fa-check"></i> invitation card </li>
                </ul>
                <a href="#" class="btn">check out</a>
            </div>
    
        </div>
    
    
    </section>
    


    <%- include("./template/footer") %>