<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Alcanze</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Armenia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Calarca </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Pereira </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Circasia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Salento </a>
        </div>

        <div class="box">
            <h3>YourEvent</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> service </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> about </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> gallery </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> price </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reivew </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contactanos</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> YourEvent@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> YourEvent01@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> SENA COMERCIO Y TURISMO </a>
        </div>

        <div class="box">
            <h3>Siguenos</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by <span>YourEvent</span> | all rights reserved </div>

</section>

<!-- footer section ends -->

<!-- theme toggler  -->

<div class="theme-toggler">

    <div class="toggle-btn">
        <i class="fas fa-cog"></i>
    </div>

    <h3>choose color</h3>

    <div class="buttons">
        <div class="theme-btn" style="background: #3867d6;"></div>
        <div class="theme-btn" style="background: #f7b731;"></div>
        <div class="theme-btn" style="background: #ff0033;"></div>
        <div class="theme-btn" style="background: #20bf6b;"></div>
        <div class="theme-btn" style="background: #fa8231;"></div>
        <div class="theme-btn" style="background: #FC427B;"></div>
    </div>

</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    let menu = document.querySelector('#menu-bars');
    let navbar = document.querySelector('.navbar');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');
    }

    let themeToggler = document.querySelector('.theme-toggler');
    let toggleBtn = document.querySelector('.toggle-btn');

    toggleBtn.onclick = () => {
        themeToggler.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbar.classList.remove('active');
        themeToggler.classList.remove('active');
    }

    document.querySelectorAll('.theme-toggler .theme-btn').forEach(btn => {

        btn.onclick = () => {
            let color = btn.style.background;
            document.querySelector(':root').style.setProperty('--main-color', color);
        }

    });

    var swiper = new Swiper(".home-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 2,
            slideShadows: true,
        },
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        }
    });

    var swiper = new Swiper(".review-slider", {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        spaceBetween: 10,
        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            700: {
                slidesPerView: 2,
            },
            1050: {
                slidesPerView: 3,
            },
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        }
    });
</script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>

</html>