<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourEvent</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="/css/estilo.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <header class="header">

        <a href="#" class="logo"><span>Your</span>Event</a>

        <nav class="navbar">
            <a href="/yourevent">YOUREVENT</a>
            <a href="/yourevent/CreateEvents">Crear Eventos</a>
            <a href="/yourevent/myEvents">Mis Eventos</a>
            <a href="/yourevent/perfilUsuario">
                <i class='bx bx-user-circle'></i>  <%= usuario %>
            </a>
            <a href="/logout">  Cerrar Sesión</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>